<h2>Welcome!</h2>
<a href="https://centralized-whale-6.app.uat.maestrano.io/mnoe/users/auth/saml">Login With Saml!</a>
<h3>This is a dummy identity provider.<h3>
<h3>It is for testing that the saml authentication works, until we get access to the marlin api.<h3>
<h2>Have Fun!<h2>
