<h2>Welcome!</h2>
<%= link_to "Login With Saml", "#{ENV['SERVICE_PROVIDER_URL']}/mnoe/users/auth/saml" %>
<h3>This is a dummy identity provider.<h3>
<h3>It is for testing that the saml authentication works, until we get access to the marlin api.<h3>
<h2>Have Fun!<h2>
